
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weach | Giriş Yap</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/Lte/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/Content/Lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/Lte/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Home/Index"><b>Weach</b>Yapım</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Giriş yapabilmek için oturum açınız.</p>

                @if (ViewBag.Sonuc != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Sonuc
                    </div>
                }


                @using (Html.BeginForm())
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="KullaniciAdi" placeholder="Kullanıcı adınızı giriniz...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-sign-in-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Sifre" placeholder="Şifrenizi giriniz...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">

                        <!-- /.col -->
                        <div class="col-8">
                            <a href="#">Şifremi unuttum ?</a>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>


                }




                <!-- /.social-auth-links -->

                <p class="mb-1">

                </p>
                <p class="mb-0">
                    <a href="/KayıtOl/Index" class="text-center">Kayıt Ol !</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="/Content/Lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Content/Lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/Lte/dist/js/adminlte.min.js"></script>

</body>
</html>

