
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Contacts</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/Content/Lte/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/Content/Lte/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

    <div class="col-12 d-flex align-items-stretch mt-5">
        <div class="card bg-light col-12 ">
            <div class="card-header text-muted border-bottom-0">
                Back-end Developer
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>Samet Yücel</b></h2>
                        <p class="text-muted text-sm"><b>About: </b> Back-end Developer / Game Developer / Web Designer </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: İstanbul,Türkiye</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: 0555-555-55-55</li>
                        </ul>
                    </div>
                    <div class="col-5 text-lg-right">
                        <img src="/Content/Lte/dist/img/smtycl.jpg" style="width:128px; height:128px;" alt="" class="img-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> View Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="map col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192488.41439891976!2d28.69643400332049!3d41.07704750063746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa49186ba3a85%3A0x563134f4b0a3930b!2zQXZydXBhIFlha2FzxLEsIMSwc3RhbmJ1bA!5e0!3m2!1str!2str!4v1610322823987!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div>

